.container {
  width: 25rem;
  display: flex;
  color: white;
  align-items: flex-start;
  justify-content: space-between;
}

.search-container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin-top: 0.2rem;
}

.search-result-container {
  height: 70vh;
  overflow: auto; /* 스크롤이 가능하도록 설정 */
}
