.search-list-container {
  width: 27rem;
  height: 5rem;
  display: flex;
  color: black;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0.2rem;
  flex: 5;
}

.location-name {
  font-size: 20px;
  margin: 0px;
}

.location-address {
  color: gray;
  font-size: 14px;
  margin: 0px;
}

.separator {
  width: 27rem;
  height: 2px;
  background-color: #ccc;
}
