.container {
  width: 27rem;
  display: flex;
  color: white;
  align-items: flex-start;
  justify-content: space-between;
}

.search-container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.search-result-container {
  overflow-y: auto; /* 스크롤이 가능하도록 설정 */
}
